bin/
obj/
*.exe
*.obj
*.layout
*.depend
*.[oa]
*.cbp
*.save
*user*
*_old*
*.xml
*.mf
*.properties
*.txt
*.jar
Lab_3/Qt/build*
ScreenSaver/build*
Debug/
Release/
/Java_Lab_1/BrainFuck/nbproject/private/
/Java_Lab_1/BrainFuck/dist/
/Java_Lab_1/BrainFuck/build/
/Java_Lab_2/nbproject/private/
/Java_Lab_2/build/
/Java_Lab_2/dist/
/java_lab_3/nbproject/private/
/java_lab_3/build/
/java_lab_3/dist/
/head/nbproject/private/
/head/dist/
/head/build/
/java_lab_4/nbproject/private/
/java_lab_4/dist/
/java_lab_4/build/